<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--comentario-->
    <add name="LigaNatacion" connectionString="Data Source=SALA235-PC06\SQLEXPRESS;
       Initial Catalog=LigaNatacion;Connection Timeout=180;Password=fnsp;User Id=sa"
      />
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>